registry=https://pkgs.dev.azure.com/lucasjmj00/5734779e-59e0-4536-99b7-fdb447d2819a/_packaging/Dependencias/npm/registry/
//pkgs.dev.azure.com/lucasjmj00/5734779e-59e0-4536-99b7-fdb447d2819a/_packaging/Dependencias/npm/registry/:username=VssSessionToken
; This is an unencrypted authentication token. Treat it like a password. DO NOT share this value with anyone, including Microsoft support.
//pkgs.dev.azure.com/lucasjmj00/5734779e-59e0-4536-99b7-fdb447d2819a/_packaging/Dependencias/npm/registry/:_password=cml3dGw1bWxnMzVjNWZ1dmNkb2dkdWRzNml5bGZ4ZG1namZ0emp5d2JuZHF5b3h2Z3pvcQ==
; The npm client won't use username and _password without an email set, but the service doesn't use the email value. The following is an arbitrarily made-up address.
//pkgs.dev.azure.com/lucasjmj00/5734779e-59e0-4536-99b7-fdb447d2819a/_packaging/Dependencias/npm/registry/:email=not-used@example.com

always-auth=true
