<div class="modal" [ngClass]="{'visible': mostrarCartel}">
    <div class="modal-content text-center">
        <div class="modal-header">
            <h3 class="modalTitle"> Nuevo local </h3>
        </div>
        <form [formGroup]="form" class="mainForm">
            <div class="form-group fccustom">
                <label for="calle">Calle:</label>
                <input class="form-control" type="text" id="calle" formControlName="calle">
            </div>
            <div class="form-group fccustom">
                <label for="numero">Altura:</label>
                <input class="form-control" type="number" id="numero" formControlName="numero">
            </div>
            <div class="form-group fccustom">
                <label for="codigoPostal">Código postal:</label>
                <input class="form-control" type="number" id="codigoPostal" formControlName="codigoPostal">
            </div>
            <div class="form-group fccustom">
                <label for="departamento">Departamento:</label>
                <input class="form-control" type="text" id="departamento" formControlName="departamento">
            </div>
            <div class="form-group fccustom">
                <label for="piso">Piso:</label>
                <input class="form-control" type="text" id="piso" formControlName="piso">
            </div>
            <div class="form-group fccustom">
                <label for="idTipoLocalidad">Localidad:</label>
                <select class="form-control" id="idTipoLocalidad" formControlName="idTipoLocalidad">
                    <option *ngFor="let localidad of localidades; let i = index" [value]="localidad.id">{{localidad.descripcion}}</option>
                </select>
            </div>
        </form>
        <div class="modal-footer">
            <p *ngIf="showErrorOnCreate" class="errorMsg">*Ocurrió un error.</p>
            <p *ngIf="showError" class="errorMsg">*El formulario posee errores.</p>
            <div class="modalBtnGroup" role="group">
                <button type="button" class="btn btn-secondary modalBtnLeft" (click)="close()"> Cerrar </button>
                <button type="button" class="btn btn-primary modalBtnRight" (click)="confirm()"> Crear </button>
            </div>
        </div>
    </div>
</div>