<header id="navbar" style="background-color: white; height: 15%;">
    <nav>
        <div class="left-content">
            <div class="logo-and-text">
                <a href="index.html"><img src="../../../assets/images/logo.png" alt="Logo" class="overlay-logo"></a>
                <span class="your-vet-text">YourVet</span>
            </div>
        </div>
        <ul class="nav-links">
            <li><a href="#">Inicio</a></li>
            <li><a href="#servicios">Servicios</a></li>
            <li><a href="#nosotros-section">Nosotros</a></li>
            <li><a href="#contact-section">Contacto</a></li>
        </ul>
        <div class="right-content">
            <button id="loginButton" (click)="openModalLogin()">Iniciar Sesión</button>
            <a href="/register"><button id="registerButton" >Registrarse</button></a>

        </div>
    </nav>
</header>