<div class="slide">
    <div class="slide-inner">
        <input class="slide-open" type="radio" id="slide-1" 
              name="slide" aria-hidden="true" hidden="" checked="checked">
        <div class="slide-item">
            <img src="../../../assets/../../../assets/images/banner1.jpg" alt="Imagen 1">
        </div>
        <input class="slide-open" type="radio" id="slide-2" 
              name="slide" aria-hidden="true" hidden="">
        <div class="slide-item">
            <img src="../../../assets/images/banner2.jpeg" alt="Imagen 2">
        </div>
        <input class="slide-open" type="radio" id="slide-3" 
              name="slide" aria-hidden="true" hidden="">
        <div class="slide-item">
            <img src="../../../assets/images/banner3.jpeg" alt="Imagen 3">
        </div>
        <label for="slide-3" class="slide-control prev control-1">‹</label>
        <label for="slide-2" class="slide-control next control-1">›</label>
        <label for="slide-1" class="slide-control prev control-2">‹</label>
        <label for="slide-3" class="slide-control next control-2">›</label>
        <label for="slide-2" class="slide-control prev control-3">‹</label>
        <label for="slide-1" class="slide-control next control-3">›</label>
        <ol class="slide-indicador">
            <li>
                <label for="slide-1" class="slide-circulo">•</label>
            </li>
            <li>
                <label for="slide-2" class="slide-circulo">•</label>
            </li>
            <li>
                <label for="slide-3" class="slide-circulo">•</label>
            </li>
        </ol>
    </div>
</div>


<section class="titulo-seccion"id="servicios">
    <h1>Software para Veterinarias</h1>
    <h2>Gestión Integral de Consultorios Veterinarios</h2>
</section>


<section class="articles">
    <article class="article">
        <img src="../../../assets/images/art1.png" alt="Agenda de Citas Online">
        <h3>Agenda de Citas Online</h3>
        <p>
            Simplifica la gestión de citas en tu clínica veterinaria con nuestra Agenda de Citas Online. 
            Permite a tus clientes programar citas de manera conveniente, evitando llamadas telefónicas y 
            agilizando el proceso de programación. Esta solución optimiza la eficiencia de tu clínica al 
            permitir a los clientes reservar citas en línea, las 24 horas del día. 
            Esto no solo ahorra tiempo para tus clientes, sino que también mejora la experiencia general de 
            programación y reduce la carga de trabajo administrativo. 
        </article>

    <article class="article">
        <img src="../../../assets/images/art2.png" alt="Gestión de Pacientes">
        <h3>Gestión de Pacientes</h3>
        <p>
            La Gestión de Pacientes es esencial para ofrecer un cuidado veterinario de calidad. Nuestra 
            plataforma proporciona un sistema centralizado para almacenar y acceder a los registros médicos 
            de tus pacientes de manera segura y eficiente. Desde historiales clínicos hasta información de 
            diagnósticos, la gestión de pacientes simplifica el acceso a la información vital para ofrecer un 
            tratamiento personalizado y cuidado excepcional.
        </p>
    </article>

    <article class="article">
        <img src="../../../assets/images/art3.png" alt="Notificaciones y Alertas">
        <h3>Notificaciones y Alertas</h3>
        <p>
            Mantén a tus clientes informados y comprometidos con nuestro sistema de Notificaciones y Alertas. Envía recordatorios de citas, seguimientos de tratamientos y noticias importantes a tus clientes de manera automatizada. Esto no solo mejora la satisfacción del cliente al mantenerlos informados, sino que también te ayuda a mantener una comunicación efectiva y fortalecer la relación con tus pacientes y sus dueños.
        </p>
    </article>

    <article class="article">
        <img src="../../../assets/images/art4.png" alt="Seguridad y Privacidad">
        <h3>Seguridad y Privacidad</h3>
        <p>
            En el mundo de la atención veterinaria, la seguridad y la privacidad son fundamentales. Nuestro sistema garantiza la protección de los datos sensibles de tus pacientes y cumple con las regulaciones de privacidad. Con características de seguridad avanzadas, como el acceso restringido y la encriptación de datos, puedes confiar en que la información de tus pacientes estará segura y protegida en todo momento.
        </p>
    </article>
</section>


<section id="nosotros-section" class="nosotros">
    <div class="nosotros-content">
        <div class="nosotros-image">
            <img src="../../../assets/images/sobre-nosotros.png" alt="Sobre Nosotros">
        </div>
        <div class="nosotros-text">
            <h2>Sobre Nosotros</h2>
            <p>Somos un equipo de desarrolladores en ascenso, entusiastas por naturaleza y apasionados tanto por la tecnología como por las mascotas. Aunque estamos dando nuestros primeros pasos en el mundo de la tecnología, nuestra determinación de aprender y crecer constantemente nos impulsa a abrazar los desafíos con entusiasmo.</p>
            <p>Nos inspira la resolución de problemas y el deseo constante de mejorar. Nuestra pasión por la tecnología se traduce en soluciones tecnológicas innovadoras y efectivas. Aunque estamos al principio de nuestro viaje, estamos ansiosos por convertirnos en expertos y marcar una diferencia en el mundo tecnológico y en la atención veterinaria.</p>
            <p>En "YourVet," no solo obtendrás una plataforma tecnológica avanzada, sino también un equipo que comparte tu pasión por las mascotas y está comprometido con la excelencia y el crecimiento continuo. Juntos, podemos contribuir a un mundo donde la tecnología mejore la vida de las mascotas y facilite la labor de los profesionales veterinarios.</p>
        </div>
    </div>
</section>


<section id="contact-section" class="contact">
    <div class="contact-content">
        <h2>Contacto</h2>
        <p>¿Tienes alguna pregunta o comentario? ¡No dudes en ponerte en contacto con nosotros!</p>
        <form class="contact-form">
            <label for="name">Nombre:</label>
            <input type="text" id="name" name="name" placeholder="Tu nombre" required>
            <label for="email">Email:</label>
            <input type="email" id="email_contacto" name="email" placeholder="Tu correo electrónico" required>
            <label for="message">Mensaje:</label>
            <textarea id="message" name="message" placeholder="Escribe tu mensaje" required></textarea>
            <button type="submit">Enviar</button>
        </form>
    </div>
</section>

