<body class="vet-body">
    <div class="container mt-4">
        <div class="container innerContainer">
            <div class="row">
                <div class="col-8 sticked">               
                    <div>
                        <div class="row" style="margin-top: -10px; margin-bottom: 5px;">
                            <div class="col-4">
                                <div class="dropdown">
                                    <span>Establecimientos:</span>
                                    <select [disabled]="!tieneEstablecimientosDisponibles" style="border-radius: 0px; height: 30px;" class="inputForm btn btn-light" [(ngModel)]="establecimientoSeleccionado"
                                            name="establecimientoSeleccionado" (change)="setEstablecimiento()">
                                        <option *ngFor="let establecimiento of establecimientos" [value]="establecimiento.id">{{establecimiento.tipoLocalidadDescripcion}}, {{establecimiento.calle}} {{establecimiento.numero}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="dropdown">
                                    <span>Profesional:</span>
                                    <select [disabled]="isProfesionalesDisabled" id="campo2" [disabled]="profesionalDisabled" style="border-radius: 0px; height: 30px;" class="inputForm btn btn-light" [(ngModel)]="profesionalSeleccionado"
                                            name="profesionalSeleccionado" (change)="setProfesional()">
                                        <option *ngFor="let profesional of profesionales" [value]="profesional.id">{{profesional.nombre}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    <full-calendar #fullcalendar [options]='calendarOptions'>
                        <ng-template #eventContent let-arg>
                            <b>{{ arg.timeText }}</b>
                            <i>{{ arg.event.title }}</i>
                        </ng-template>
                    </full-calendar>
                    </div>
                </div>
                <div class="col-4">
                    <h5 style="text-decoration: underline;">Registrar un nuevo turno</h5>
                    <form>
                        <div class="form-group">
                            <!-- <label>Criterio de paciente:</label> -->
                            <!-- <input (blur)="setValue('id', $event)" type="text" class="form-control" id="campo1"> -->
                            <label class="labb">
                                <input type="radio" name="criterio" (click)="settearCriterioDeBusqueda('nom')"> Buscar pacientes por nombre de usuario
                              </label>
                              <label class="labb">
                                <input type="radio" name="criterio" (click)="settearCriterioDeBusqueda('num')"> Buscar pacientes por número de cliente
                              </label>
                        </div>
                        <div class="form-group">
                            <label >Dato del cliente:</label>
                            <div>
                                <div style="display: inline;">
                                    <input style="border: solid 2px navy" [disabled]="!puedeBuscar" (change)="setValor($event)" type="text">
                                </div>
                                <div style="display: inline;">
                                    <button (click)="buscarMascota()" [disabled]="!puedeBuscar" class="btnSearch">Buscar</button>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="form-group">
                            <label for="campo1">Id del paciente:</label>
                            <input type="text" class="form-control" id="campo1">
                        </div> -->
                        <div class="col-4">
                            <div class="dropdown">
                                <span>Mascotas:</span>
                                <select id="campoMascota" [disabled]="!mascotasHabilitadas" style="border-radius: 0px; height: 30px;" class="inputForm btn btn-light" [(ngModel)]="mascotaSeleccionada"
                                        name="mascotaSeleccionada" >
                                    <option *ngFor="let mascota of mascotas" [value]="mascota.id">{{mascota.nombre}}</option>
                                </select>
                            </div>
                        </div>
                        <!-- <div class="form-group">
                            <label for="campo2">Id del especialista:</label>
                            <input (blur)="setValue('name', $event)" type="text" class="form-control" id="campo2">
                        </div> -->
                        <div class="row" style="margin-top: 5px">
                            <div class="col-6">
                                <select class="inputForm btn btn-light dropdown-toggle" (change)="setAno($event)"
                                    [(ngModel)]="anoSeleccionado" name="anoSeleccionado" (ngModelChange)="llenarDias()">

                                    <option *ngFor="let ano of anos" [value]="ano">{{ano}}</option>
                                </select>
                            </div>
                            <div class="col-6">
                                <select class="inputForm btn btn-light" (change)="setMes($event)"
                                    [(ngModel)]="mesSeleccionado" name="mesSeleccionado" (ngModelChange)="llenarDias()">

                                    <option *ngFor="let mes of meses; let i = index" [value]="i">{{mes}}</option>
                                </select>
                            </div>
                            <div class="col-6">
                                <select class="inputForm btn btn-light" [(ngModel)]="diaSeleccionado"
                                    name="diaSeleccionado" (change)="setDia($event)">

                                    <option *ngFor="let dia of dias" [value]="dia.numero">{{dia.nombre}}</option>
                                </select>
                            </div>
                            <div class="col-6">
                                <div>
                                    <select class="inputForm btn btn-light" (change)="setHorario($event)"
                                        [(ngModel)]="horarioSeleccionado" name="horarioSeleccionado">
                                        <option *ngFor="let horario of horarios" [value]="horario">{{horario}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="errorMsg" *ngIf="turnoOcupado">
                            *El turno se encuentra tomado, por favor escoja otro.
                        </div>
                        <button id="confirmButton" (click)="createNuevoTurno()" type="submit" class="btn btn-primary">Confirmar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
<modal [modalTitle]="modalTitle" [setInputText]="showInputText" [isSuccessDisabled]="isSuccessDisabled" [confirmTxt]="'Ver en el día'" [cancelTxt]="'Cerrar'" #modal
    (onConfirm)="onConfirmModal()" [actionFsTxt]="firstActionTxtBtn" [actionScTxt]="secondActionTxtBtn" (onAction)="action($event)" (onActionComplete)="actionComplete($event)" [vacunasList]="vacunasList" [practicasList]="practicasList" [antiparasitariosList]="antiparasitariosList">
</modal>
<confirmation-modal style=" z-index: 1000; position: relative;" [modalTitle]="modalTitle" [setInputText]="showInputText" [isSuccessDisabled]="isSuccessDisabled" [confirmTxt]="'Ver en el día'" [cancelTxt]="'Cerrar'" #modal
    (onConfirm)="onConfirmModal()" [actionFsTxt]="firstActionTxtBtn" [actionScTxt]="secondActionTxtBtn" (onAction)="action($event)" (onActionComplete)="onActionCompleteHC($event)" [vacunasList]="vacunasList" [practicasList]="practicasList" [antiparasitariosList]="antiparasitariosList" [enfermedadesList]="enfermedadesList">
</confirmation-modal>
<ng-container>
    <mat-form-field style="display: none;">
        <i class="fa-solid fa-user-doctor"></i>
        <input type="number" [(ngModel)]="durationInSeconds" matInput>
    </mat-form-field>
    </ng-container>